<ion-view view-title="About">
  <ion-content>

    <div class="item" style="text-align: center;">
      <h1>Special Thanks To</h1>
    </div>

    <div class="item" style="text-align: center;">
      <a href="http://openweathermap.org/">OpenWeatherMap.org<a>
    </div>
    <div class="item" style="text-align: center;">
      Beards
    </div>

    <div class="item" style="text-align: center;">
      &nbsp;
    </div>

    <div class="item" style="text-align: center;">
      <h1>Brought To You By</h1>
    </div>

    <div class="item" style="text-align: center;">
      Science Viking Labs
    </div>

    <div class="item" style="text-align: center;">
      <img style="height: 468px;width: 369px;" src="../img/svl.png">
    </div>

  </ion-content>
</ion-view>
